[submodule "lib/dynamic_array"]
	path = lib/dynamic_array
	url = https://github.com/MeerkatBoss/dynamic-array
[submodule "lib/logger"]
	path = lib/logger
	url = https://github.com/MeerkatBoss/logger
[submodule "lib/text_lines"]
	path = lib/text_lines
	url = https://github.com/MeerkatBoss/text_lines
